<div class="container">
    <div class="header">
       <div class="header-content">
         
           <img src="https://www.health1nsurance.com/app/uploads/2016/04/bcbslogo1-300x168.jpg" 
               alt="logo" height="60" width="110">
           <img src="https://www.bluecrossma.com/mpTheme-MemberCentral/themes/html/MemberCentral/memberCentralImages/myblue-logo.png" 
                 alt="logo" height="50" width="110" >
     <!-- <img src="../images/myblue-logo.png" alt="myblue"> -->
        
   </div>
    </div>
   </div>
