#main{
    align-content: center;
}
.element{
    border: none;
    border-bottom: 1px solid rgb(104, 93, 93); 
}
.header{
    padding: 1%;
    border-bottom: 2px solid blue;
}

.header-content{
    text-align: center;
    vertical-align: middle;
}
.container{
    padding:2%;
}
.middle{
    text-align: center;
}
.message{
    background-color: rgb(241, 232, 233);
}
.simple{
    text-align: center;
}
.content{
    padding-top: 5%;
}
.dark{
    font-weight: bold;
    color: rgb(68, 67, 67);
}