<div class="container">
    <div class="middle-first">
       <h4>Create Account</h4>
       <p>We'll send a text verification. Message and data rates may apply.</p>
    </div>
    </div>
    <div class="container">
      <form>
        <div class="form-group">
        <label><strong>Mobile Number* (This will be your username)</strong></label>
        <br>
        <input type="text" class="form-control element" name="username" placeholder="123-123-1234">
        <p>000-000-0000 US only</p>
        </div>
        <div class="middle">
           <a href="#"><strong>Use email instead</strong></a> 
        </div>
        <div class="form-group">
        <label><strong>Password</strong></label>
        <br>
        <input type="password" class="form-control element" name="password" placeholder="Password123!" data-toggle="password">
       </div>
       <div class="container">
         <div class="row">
         <div class="col-md-4 message">
             <h5>Password Requirement</h5>
             <ul>
               <li>At least 8 characters</li>
               <li>Must include a number</li>
               <li>Must include uppercase letter</li>
               <li>Must include a special character: <br>
                 &#33;&#35;&#36;&#37;&#38;&#40;&#41;&#42;&#43;&#45;&#46;</li>
             </ul>
         </div>
       </div>
     </div>
     <div class="content">
         <input type="checkbox" id="checked" name="verify" value="checked">
         <label for="checked"><strong>Yes, I wish to recieve information from Blue Cross Blue Shield of Massachusetts</strong></label>
       </div>
       <div class="content">
         <p>By clicking "Continue" I agree to the Blue Cross Blue Shield of Massachusetts Terms of Use and Confidentiality</p>
       </div>
       <div class="simple">
       <button class="btn btn-primary" type="submit" onclick="onClicked()">Continue</button>
     </div>
     <div class="content">
         <p>&#42; Field is required.</p>
     </div>
     
     </form>
     <hr>
 
     <div class="container">
         <div class="header-content">
             <img src="https://www.health1nsurance.com/app/uploads/2016/04/bcbslogo1-300x168.jpg" 
             alt="logo" height="60" width="110">
         <br>
         <p><strong>M A S S A C H U S E T T S</strong></p>    
         </div> 
     </div>
     <div class="content">
       <p>
         Blue Cross Blue Shield of Massachusetts is an Independent License of the Blue Cross and Blue Sheild Association.
       </p>
       <p>
           &#174;, SM Registereda and Service Marks of the Blue Cross and Blue Sheild Association. &#174;&#39; Registered Marks of Blue Cross Blue Shield of Massachusetts. &#174;&#34; Registered Marks are property of their respective owners. 
       </p>
       <p>
           &#169; 2017 Blue Cross and Blue Shield Massachusetts, inc., and Blue Cross and Blue Shield of Massachusetts HMO Blue, Inc. 101 Huntington Avenue, Suite 1300, Boston, MA 02199-7611  
       </p>
     </div>

</div>